root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{cpp,c,hpp,h}]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.nix]
indent_style = space
indent_size = 2

[CMakeLists.txt]
indent_style = tab
